<!DOCTYPE html>
<html>
<head>
	<title>Button Design</title>
	<style type="text/css">

		.btn{
			padding: 10px 15px;
		    border: 2px solid black;
		    background: white;
		    text-transform: uppercase;
		    font-weight: bolder;
		    margin-bottom: 10px;
		    transition: 0.5s;
		}

		.btn:hover{
			background-color: #00000090;
		}

		.btn-solid{
			background-color: black;
			color: white;
		}

		.btn-rounded{
			border-radius: 5px;
		}

		.btn-rounded-circular{
			border-radius: 50px;
		}

		.btn-pink{
			background-color:  pink;
			border:2px solid pink;
		}


	</style>
</head>
<body>

	<button class="btn">Base Design</button>

	<button class="btn btn-solid">Solid Design</button>

	<button class="btn btn-solid btn-pink">Solid Design</button>

	<button class="btn btn-rounded">Rounded Design</button>

	<button class="btn btn-solid btn-rounded">Rounded Solid</button>

	<button class="btn btn-rounded-circular">Circular Design</button>

	<button class="btn btn-solid btn-rounded-circular">
	Circular Design
	</button>



</body>
</html>