<!DOCTYPE html>
<html>
<head>
	<title>Text Box</title>
	<style type="text/css">


		
		.box{
			width: 450px;
		    border: 2px solid black;
		    padding: 10px 15px;
		    margin: 20px;
		    display: inline-block;

		}

		.title{
			font-family: sans-serif;
    		text-transform: uppercase;
		}
		.content{
			color: #000000aa;
		    text-align: justify;
		}

		.box-solid{
			background-color: #eee;
			border-color:#eee;
		}

		.box-rounded{
			border-radius: 10px;
		}

		.text-center{
			text-align: center;
		}

		.text-center .content{
			text-align: center;
		}


	</style>
</head>
<body>

	<div class="box">

		<h3 class="title">
			This is Base Box
		</h3>

		<p class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>

	<div class="box box-solid ">

		<h3 class="title">
			This is Solid Box
		</h3>

		<p class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>

	<div class="box box-rounded text-center">

		<h3 class="title">
			This is Rounded Box
		</h3>

		<p class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>




</body>
</html>